.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 100%;
}

.card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  position: relative;
  margin-bottom: 0;
}

.short-card {
  height: 160px;
}

.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}
.span-4 {
  grid-column: span 4;
}
.span-5 {
  grid-column: span 5;
}
.span-11 {
  grid-column: span 11;
}

.label {
  color: #777;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: 700;
}

.card h2 {
  font-size: 40px;
  margin: 8px 0;
}

.card h2 small {
  font-size: 12px;
  font-weight: 500;
  margin-left: 6px;
}

.trend {
  font-size: 12px;
}

.trend.up {
  color: #5fb85f;
}

.trend.down {
  color: #d85c5c;
}

.trend-text {
  font-size: 11px;
  color: #777;
  line-height: 1.5;
  display: flex;
  gap: 8px;
}

.progress-bar {
  background: #e3e3e3;
  height: 12px;
  border-radius: 14px;
  overflow: hidden;
}

.progress {
  background: #8ecf73;
  height: 100%;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.progress-info .total {
  color: #8ecf73;
}

.donut-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.legend {
  list-style: none;
  font-size: 12px;
  color: #777;
  line-height: 1.5;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.legend span {
  width: 10px;
  height: 10px;
  background: #8ecf73;
  border-radius: 50%;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
}

.analytics-progress-track {
  flex: 1;
  margin: 0;
  height: 12px;
}

.progress-text {
  font-weight: 700;
  color: #8ecf73;
}

.analytics-stats-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 6px;
  column-gap: 15px;
}

.donut-chart-container {
  width: 140px;
  height: 140px;
}

.line-chart-container {
  height: 150px;
  width: 100%;
}

#revenueChart {
  height: 140px;
  width: 140px;
}