/*Shopping management*/
.tabs {
    display: flex;
    gap: 15px;
}

.tab {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background: #85C668;
    cursor: pointer;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* Add New Card */
.add-card {
    background: #e4eadf;
    height: 300px;
    border-radius: 12px;
    border: 2px dashed #adb7a2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7f8b74;
}

.add-card .plus {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Product Cards */
.card {
    background: white;
    border-radius: 12px;
    padding: 18px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 120px;
    margin: 0 auto;
}

.card h3 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

.card p {
    font-size: 13px;
    color: #666;
    margin: 5px 0 10px;
}

.bottom-row {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 700;
}

.edit-btn {
    padding: 6px 16px;
    background: #d7dfd1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}