* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans Expanded", sans-serif;
}

body {
    background: #d4e3d0;
}

.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/*sidebar*/

.sidebar {
    width: 220px;
    background: #ffffff;
    height: 100vh;
    border-right: 1px solid #e3e3e3;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 35px;
        color: #000;
}

.logo img {
    width: 40px;
    height: auto;
}
        
/*sidebar-menu*/
.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    padding: 10px 12px;
    font-size: 13px;
    color: #000000;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;           
    transition: 0.2s ease;
    cursor: pointer;
    font-weight: 500;
}

.menu-item img.menu-icon {
    width: 30px;        
    height: 30px;
    object-fit: contain;
    opacity: 0.7;
}

.menu-item.active {
    background: #A7EF89;
    color: #000000;
    font-weight: 700;
}

.menu-item.active img.menu-icon {
    filter: brightness(1) invert(0);
    opacity: 1;
}

.hidden {
    display: none;
}

.menu-item:hover {
    background: #f0f0f0;
    color: #000;
}

.logout {
    margin-top: auto;
    padding: 10px 12px;
    font-size: 13px;
    color: #999;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s ease;
    font-weight: 500;
}

.logout:hover {
    background: #f0f0f0;
    color: #666;
}

.logout-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    opacity: 0.6;
}

.logout:hover .logout-icon {
    opacity: 0.9;
}

/*main content*/
.main {
    padding: 35px 40px;
    overflow-y: auto;
    background: #d4e3d0;
}

.hidden {
    display: none;
}

#content1 {
    display: grid;
    grid-template-columns: 1fr 280px;
    gap: 25px;
    grid-template-rows: auto auto auto auto;
}

#content1 h2 {
    grid-column: 1 / 2;
}

#content1 .subtext {
    grid-column: 1 / 2;
}

#content1 h3 {
    grid-column: 1 / 2;
}

#content1 .create-btn {
    grid-column: 1 / 2;
}

#content1 .quests {
    grid-column: 1 / 2;
}

#content1 .leaderboard {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
}

h3 {
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.subtitle {
    margin-top: 6px;
    color: #6f6f6f;
    margin-bottom: 25px;
}

.subtext {
    color: #888;
    margin-bottom: 30px;
    margin-top: 8px;
    font-size: 14px;
}