/*Partener Orgainzer tab*/
.partner-wrapper {
    background: #dfe9d8;
    margin: 20px;
    padding: 40px;
    border-radius: 16px;
}

/* Request Card */
.request-card {
    background: white;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 18px;
}

/* Image */
.request-card img {
    width: 140px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
}

/* Info Section */
.request-info {
    flex: 1;
}

.request-info h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Info grid */
.info-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    row-gap: 8px;
    column-gap: 20px;
    font-size: 14px;
}

.info-grid span:nth-child(odd) {
    color: #6b6b6b;
    font-weight: 500;
}

.info-grid span:nth-child(even) {
    color: #333;
    font-weight: 600;
}

/* Actions */
.actions {
    display: flex;
    gap: 12px;
}

.actions button {
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* Buttons */
.reject {
    background: #d86a6a;
    color: white;
}

.approve {
    background: #8ecf73;
    color: white;
}
