/*User management*/
/* Tabs */
.tabs {
    display: flex;
    gap: 15px;
}

.tab {
    padding: 12px 26px;
    border: none;
    border-radius: 8px;
    background: #d0d8c7;
    font-weight: 600;
    cursor: pointer;
}

.tab.active {
    background: #8ccf73;
    color: white;
}

/* Top Row */
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-filter {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-filter input {
    width: 260px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.filter-btn {
    padding: 10px 20px;
    background: #d0d8c7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

/* User Card */
.user-card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-section img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #f3df5b;
}

.info h3 {
    font-size: 18px;
    font-weight: 700;
}

.info h3 span {
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

.info p {
    font-size: 14px;
    color: #444;
    margin-top: 2px;
}

.right-section {
    text-align: right;
}

.last-active {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    gap: 10px;
}

/* Buttons */
.details-btn {
    padding: 8px 18px;
    background: #d9e4d3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.suspend-btn {
    padding: 8px 18px;
    background: #f7c8c4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.delete-btn {
    padding: 8px 18px;
    background: #d95757;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}